/* Styles for the App component */
.App {
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}

/* Logo styles */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Animation for the logo */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Header styles */
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Link styles */
.App-link {
  color: #61dafb;
}

/* Styles for product border */
.product-border {
  text-align: center;
  border: 1px solid #6f6f6f;
  padding: 20px;
  font-size: calc(8px + 1vmin);
}

/* Styles for product list */
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

/* Styles for individual product */
.product {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  height: 470px;
}

/* Styles for product image */
.product img {
  max-width: 100%;
  height: auto;
}

/* Styles for product title */
.product-title {
  margin-top: 10px;
  font-size: 18px;
}

/* Styles for product price */
.product-price {
  font-weight: bold;
  color: #333;
}

/* Styles for shopping cart */
.shopping-cart {
  background-color: #cce1f7;
  border: 1px solid #6f6f6f;
  padding: 20px;
  font-size: calc(6px + 1vmin);
}

/* Styles for add-to-cart button */
.add-to-cart {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: medium;
}

.add-to-cart:hover {
  background-color: #0056b3;
}

/* Styles for product details button */
.product-details-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-details-button:hover {
  background-color: #0056b3;
}

/* Styles for checkout button */
.check-out-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.check-out-button:hover {
  background-color: #0056b3;
}

/* Styles for payment section */
.payment {
  background-color: #e7eef5;
  border: 1px solid #6f6f6f;
  padding: 20px;
  font-size: calc(6px + 1vmin);
}

/* Styles for unordered list */
ul {
  list-style-type: none;
}